.typography, #main, #menu_note, #menu_gout, #menu_chic, #menu_delice {
  margin: 2vw auto 4vw auto;
  width: 613px;
  display: flex;
  height: 100vw; }
  @media (max-width: 768px) {
    .typography, #main, #menu_note, #menu_gout, #menu_chic, #menu_delice {
      width: 90%; } }

@keyframes wiggle {
  0% {
    transform: rotate(0deg); }
  3% {
    transform: rotate(-2deg); }
  5% {
    transform: rotate(2deg); }
  6% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes blink {
  0% {
    opacity: 0; }
  40%, 60% {
    opacity: 1; }
  100% {
    opacity: 0; } }

h6 > span {
  -webkit-animation: blink 2.5s infinite;
  animation: blink 2.5s infinite; }

h6 > span:nth-child(2) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s; }

h6 > span:nth-child(3) {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s; }

h2 {
  font-style: normal;
  margin: 0;
  padding: 0;
  font-size: 21px; }

h2::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background-color: #000;
  transition: width 0.4s; }

h2:hover:after {
  width: 100%; }

footer > a {
  -webkit-animation: wiggle 3s infinite;
  animation: wiggle 3s infinite; }

header {
  width: 100%;
  background-color: #559c84;
  color: #FFC400;
  font-size: 35px;
  line-height: 89px;
  text-align: center;
  font-weight: 700; }

footer {
  margin: 0;
  display: flex;
  justify-content: space-between;
  height: 56px;
  background-color: #559c84;
  color: #FFC400;
  font-size: 17px;
  line-height: 63px;
  text-align: center;
  padding: 0 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0; }
  @media (max-width: 320px) {
    footer {
      font-size: 12px; } }

html {
  height: 100%; }

h1 {
  margin: 5px  auto; }
  @media (max-width: 425px) {
    h1 {
      font-size: 8vw; } }

h2 {
  font-style: normal;
  margin: 0;
  padding: 0;
  font-size: 21px; }
  @media (max-width: 768px) {
    h2 {
      font-size: 3.5vw; } }

body {
  background-color: #F9F9F9;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 975px;
  font-family: "Montserrat", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100%;
  padding-bottom: 5em;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden; }
  @media (max-width: 768px) {
    body {
      margin-bottom: -56px;
      height: auto; } }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

li {
  text-align: center; }

.price {
  margin-left: auto;
  font-weight: bold; }

a {
  overflow: hidden;
  text-decoration: none;
  color: #FFC400; }

div#main > a {
  text-decoration: none;
  color: black; }

#main {
  flex-direction: row;
  justify-content: center;
  background-color: #F9F9F9;
  padding: 20px;
  flex-wrap: wrap; }
  @media (max-width: 425px) {
    #main {
      flex-direction: column;
      height: auto;
      width: auto; } }
  @media (max-width: 320px) {
    #main {
      padding: 0; } }
  #main img {
    padding-top: 100px;
    width: 30px;
    height: 30px; }
  #main .Card {
    height: 310px;
    width: 220px;
    margin: 20px;
    box-shadow: 0 0 17px -10px #735F5D;
    /* transition: transform 400ms; */
    opacity: 1; }
    @media (max-width: 425px) {
      #main .Card {
        margin: 10px; } }
    #main .Card:hover {
      opacity: 0.3; }
      #main .Card:hover li.firstTitle, #main .Card:hover li.thirdTitle, #main .Card:hover li.fourthTitle {
        font-size: 150%;
        /* padding-top:70px; */
        margin-bottom: 0; }
      #main .Card:hover li.secondTitle {
        font-size: 23px; }
      #main .Card:hover li.subtitle {
        font-size: 40px; }
      #main .Card:hover img.music {
        width: 60px;
        height: 60px;
        padding-top: 60px; }
  #main .first {
    background-color: #FBDCDB;
    font-family: 'Devonshire', cursive;
    color: black; }
  #main .second {
    background-color: #FBF3FB;
    font-family: 'Playfair Display', serif; }
  #main .third {
    background-color: #F9F9F9;
    font-family: 'Dancing Script', cursive; }
  #main .fourth {
    background-color: white;
    font-family: 'Kaushan Script', cursive; }
  #main .firstTitle {
    margin-bottom: 8px;
    font-size: 20px; }
  #main h6 {
    background-color: #559c84;
    align-self: flex-end;
    margin: 11px auto;
    padding: 8px 20px;
    border-radius: 10px;
    font-size: 18px;
    color: #FFC400;
    font-weight: normal; }
  #main .subtitle {
    font-size: 26px; }
  #main ul.first.Card > li.subtitle {
    font-family: 'Kalam', cursive; }
  #main ul.second.Card > li.subtitle {
    color: #e38a12;
    font-weight: bold; }
  #main ul.third.Card > li.subtitle {
    color: #102fdb;
    font-family: 'Kalam', cursive; }
  #main ul.fourth.Card > li.subtitle {
    color: #3d923a;
    font-family: 'Kalam', cursive; }
  #main .secondTitle {
    background: -webkit-gradient(linear, left top, right bottom, from(#e38a12), to(#a67afd));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 8px;
    font-size: 20px;
    padding-top: 137px; }
  #main .thirdTitle {
    background: -webkit-gradient(linear, left top, right bottom, from(#102fdb), to(#178ffb));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 8px;
    font-size: 20px;
    padding-top: 137px; }
  #main .fourthTitle {
    background: -webkit-gradient(linear, left top, right bottom, from(#3d923a), to(#beff7f));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 8px;
    font-size: 20px;
    padding-top: 137px; }

#menu_note {
  flex-direction: column;
  text-align: center;
  font-family: 'Kalam', cursive;
  align-items: center;
  font-size: 14px;
  background-color: #FCDFDB;
  box-shadow: 0 0 17px -10px #735F5D; }
  @media (max-width: 375px) {
    #menu_note {
      height: 176vw; } }
  @media (max-width: 320px) {
    #menu_note {
      height: 180vw; } }
  @media (max-width: 768px) {
    #menu_note {
      font-size: 2.4vw;
      height: 105vw; } }
  @media (max-width: 425px) {
    #menu_note {
      font-size: 3.4vw;
      height: 168vw; } }
  #menu_note li {
    text-align: left;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    padding: 0 7%;
    margin-bottom: 6px; }
    @media (max-width: 425px) {
      #menu_note li {
        margin-bottom: 9px; } }
  #menu_note .title > li {
    font-family: 'Devonshire', cursive;
    font-size: 55px;
    margin-bottom: 12px;
    padding: 0; }
    @media (max-width: 768px) {
      #menu_note .title > li {
        font-size: 5.8vw; } }
  #menu_note .note {
    font-family: 'Devonshire', cursive;
    font-size: 55px; }
    @media (max-width: 768px) {
      #menu_note .note {
        font-size: 5.8vw; } }
  #menu_note .musicbot {
    width: 3vw;
    height: 3vw;
    margin-right: 5px; }
  #menu_note li.firstTitle > img.img-d {
    width: 30%;
    height: 2.5vh;
    margin-left: 8%; }
    @media (max-width: 425px) {
      #menu_note li.firstTitle > img.img-d {
        height: 1.8vh; } }
  #menu_note li.firstTitle > img.img-g {
    width: 30%;
    height: 2.5vh;
    margin-right: 8%; }
    @media (max-width: 425px) {
      #menu_note li.firstTitle > img.img-g {
        height: 1.8vh; } }
  #menu_note li.secondTitle > img.img-d {
    width: 30%;
    height: 2.5vh;
    margin-left: 5%; }
    @media (max-width: 425px) {
      #menu_note li.secondTitle > img.img-d {
        height: 1.8vh; } }
  #menu_note li.secondTitle > img.img-g {
    width: 30%;
    height: 2.5vh;
    margin-right: 5%; }
    @media (max-width: 425px) {
      #menu_note li.secondTitle > img.img-g {
        height: 1.8vh; } }
  #menu_note li.thirdTitle > img.img-d {
    width: 30%;
    height: 2.5vh;
    margin-left: 4%; }
    @media (max-width: 425px) {
      #menu_note li.thirdTitle > img.img-d {
        height: 1.8vh; } }
  #menu_note li.thirdTitle > img.img-g {
    width: 30%;
    height: 2.5vh;
    margin-right: 4%; }
    @media (max-width: 425px) {
      #menu_note li.thirdTitle > img.img-g {
        height: 1.8vh; } }
  #menu_note .firstTitle, #menu_note .secondTitle, #menu_note .thirdTitle {
    font-size: 21px;
    font-weight: bold;
    padding: 0 1%;
    margin-bottom: 12px; }
    @media (max-width: 768px) {
      #menu_note .firstTitle, #menu_note .secondTitle, #menu_note .thirdTitle {
        font-size: 2.5vw; } }
    @media (max-width: 425px) {
      #menu_note .firstTitle, #menu_note .secondTitle, #menu_note .thirdTitle {
        margin-bottom: 0; } }
  #menu_note .music {
    width: 4vw;
    height: 4vw;
    margin-top: 11px;
    margin-bottom: -6px; }
  #menu_note p {
    margin: 4px 0 0 0;
    padding: 0px; }
  #menu_note .first {
    margin-bottom: 2.5vw; }
  #menu_note .second {
    margin-bottom: 2.5vw; }
  #menu_note .third {
    margin-bottom: 2.5vw; }

#menu_gout {
  flex-direction: column;
  text-align: center;
  font-size: 13px;
  background-color: #FFF5FE;
  font-family: 'Kalam', cursive;
  box-shadow: 0 0 17px -10px #735F5D; }
  @media (max-width: 768px) {
    #menu_gout {
      font-size: 1.7vw;
      height: 86vw; } }
  @media (max-width: 425px) {
    #menu_gout {
      font-size: 3vw;
      height: 145vw; } }
  @media (max-width: 375px) {
    #menu_gout {
      font-size: 3.4vw;
      height: 150vw; } }
  @media (max-width: 320px) {
    #menu_gout {
      font-size: 3.7vw;
      height: 172vw; } }
  #menu_gout .firstTitle, #menu_gout .secondTitle, #menu_gout .thirdTitle {
    font-size: 17px;
    padding: 0 7px;
    font-family: 'Kalam', cursive; }
    @media (max-width: 768px) {
      #menu_gout .firstTitle, #menu_gout .secondTitle, #menu_gout .thirdTitle {
        font-size: 2.2vw; } }
  #menu_gout ul.title.Section > li {
    font-size: 46px;
    font-family: 'Kaushan Script', cursive;
    font-weight: normal;
    background: -webkit-gradient(linear, left top, right bottom, from(#3d923a), to(#BEFF7F));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 6% 0;
    text-align: center; }
    @media (max-width: 768px) {
      #menu_gout ul.title.Section > li {
        font-size: 5vw; } }
  #menu_gout li {
    text-align: left;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    padding: 0 8%;
    margin-bottom: 10px; }
  #menu_gout .first {
    margin-bottom: 2.5vw; }
  #menu_gout .second {
    margin-bottom: 2.5vw; }
  #menu_gout .third {
    margin-bottom: 2.5vw; }
  #menu_gout li.firstTitle > img.img-d {
    width: 30%;
    height: 1.8vh;
    padding-left: 8%; }
    @media (max-width: 768px) {
      #menu_gout li.firstTitle > img.img-d {
        width: 26%;
        height: 4.2vh; } }
    @media (max-width: 425px) {
      #menu_gout li.firstTitle > img.img-d {
        height: 3vh;
        width: 63px; } }
    @media (max-width: 375px) {
      #menu_gout li.firstTitle > img.img-d {
        height: 2.3vh;
        width: 19%; } }
    @media (max-width: 320px) {
      #menu_gout li.firstTitle > img.img-d {
        width: 19%;
        height: 2.5vh; } }
    @media (max-width: 768px) {
      #menu_gout li.firstTitle > img.img-d {
        padding-left: 12%; } }
  #menu_gout li.firstTitle > img.img-g {
    width: 30%;
    height: 1.8vh;
    padding-left: 8%;
    transform: scaleX(-1); }
    @media (max-width: 768px) {
      #menu_gout li.firstTitle > img.img-g {
        width: 26%;
        height: 4.2vh; } }
    @media (max-width: 425px) {
      #menu_gout li.firstTitle > img.img-g {
        height: 3vh;
        width: 63px; } }
    @media (max-width: 375px) {
      #menu_gout li.firstTitle > img.img-g {
        height: 2.3vh;
        width: 19%; } }
    @media (max-width: 320px) {
      #menu_gout li.firstTitle > img.img-g {
        width: 19%;
        height: 2.5vh; } }
    @media (max-width: 768px) {
      #menu_gout li.firstTitle > img.img-g {
        padding-left: 12%; } }
  #menu_gout li.secondTitle > img.img-d {
    width: 30%;
    height: 1.8vh;
    padding-left: 3%; }
    @media (max-width: 768px) {
      #menu_gout li.secondTitle > img.img-d {
        width: 26%;
        height: 4.2vh; } }
    @media (max-width: 425px) {
      #menu_gout li.secondTitle > img.img-d {
        height: 3vh;
        width: 63px; } }
    @media (max-width: 375px) {
      #menu_gout li.secondTitle > img.img-d {
        height: 2.3vh;
        width: 19%; } }
    @media (max-width: 320px) {
      #menu_gout li.secondTitle > img.img-d {
        width: 19%;
        height: 2.5vh; } }
    @media (max-width: 768px) {
      #menu_gout li.secondTitle > img.img-d {
        padding-left: 4%; } }
  #menu_gout li.secondTitle > img.img-g {
    width: 30%;
    height: 1.8vh;
    padding-left: 3%;
    transform: scaleX(-1); }
    @media (max-width: 768px) {
      #menu_gout li.secondTitle > img.img-g {
        width: 26%;
        height: 4.2vh; } }
    @media (max-width: 425px) {
      #menu_gout li.secondTitle > img.img-g {
        height: 3vh;
        width: 63px; } }
    @media (max-width: 375px) {
      #menu_gout li.secondTitle > img.img-g {
        height: 2.3vh;
        width: 19%; } }
    @media (max-width: 320px) {
      #menu_gout li.secondTitle > img.img-g {
        width: 19%;
        height: 2.5vh; } }
    @media (max-width: 768px) {
      #menu_gout li.secondTitle > img.img-g {
        padding-left: 4%; } }
  #menu_gout li.thirdTitle > img.img-d {
    width: 30%;
    height: 1.8vh;
    padding-left: 2%; }
    @media (max-width: 768px) {
      #menu_gout li.thirdTitle > img.img-d {
        width: 26%;
        height: 4.2vh; } }
    @media (max-width: 425px) {
      #menu_gout li.thirdTitle > img.img-d {
        height: 3vh;
        width: 63px; } }
    @media (max-width: 375px) {
      #menu_gout li.thirdTitle > img.img-d {
        height: 2.3vh;
        width: 19%; } }
    @media (max-width: 320px) {
      #menu_gout li.thirdTitle > img.img-d {
        width: 19%;
        height: 2.5vh; } }
  #menu_gout li.thirdTitle > img.img-g {
    width: 30%;
    height: 1.8vh;
    padding-left: 2%;
    transform: scaleX(-1); }
    @media (max-width: 768px) {
      #menu_gout li.thirdTitle > img.img-g {
        width: 26%;
        height: 4.2vh; } }
    @media (max-width: 425px) {
      #menu_gout li.thirdTitle > img.img-g {
        height: 3vh;
        width: 63px; } }
    @media (max-width: 375px) {
      #menu_gout li.thirdTitle > img.img-g {
        height: 2.3vh;
        width: 19%; } }
    @media (max-width: 320px) {
      #menu_gout li.thirdTitle > img.img-g {
        width: 19%;
        height: 2.5vh; } }

#menu_chic {
  flex-direction: column;
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 14px;
  background-color: #FFF5FE;
  box-shadow: 0 0 17px -10px #735F5D; }
  @media (max-width: 768px) {
    #menu_chic {
      font-size: 2.1vw;
      height: 81vw; } }
  @media (max-width: 425px) {
    #menu_chic {
      font-size: 3vw;
      height: 130vw; } }
  @media (max-width: 375px) {
    #menu_chic {
      font-size: 3.4vw;
      height: 150vw; } }
  @media (max-width: 320px) {
    #menu_chic {
      font-size: 3.7vw;
      height: 172vw; } }
  #menu_chic li {
    text-align: left;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    padding: 0 13%;
    margin-bottom: 10px; }
  #menu_chic h2 {
    font-size: 19px; }
    @media (max-width: 768px) {
      #menu_chic h2 {
        font-size: 3.5vw; } }
    @media (max-width: 425px) {
      #menu_chic h2 {
        font-size: 4.5vw; } }
  #menu_chic .firstTitle, #menu_chic .secondTitle, #menu_chic .thirdTitle {
    font-size: 15px;
    font-weight: bold;
    padding: 0 5px;
    margin-bottom: 12px; }
    @media (max-width: 768px) {
      #menu_chic .firstTitle, #menu_chic .secondTitle, #menu_chic .thirdTitle {
        font-size: 1.8vw; } }
  #menu_chic .first {
    margin-bottom: 2.5vw;
    color: #c67412; }
  #menu_chic .second {
    margin-bottom: 2.5vw;
    color: #a56799; }
  #menu_chic .third {
    margin-bottom: 2.5vw;
    color: #6e4ccc; }
  #menu_chic li.firstTitle > img.img-d {
    width: 30%;
    height: 1.8vh;
    padding-right: 1%;
    transform: rotate(0.5turn); }
    @media (max-width: 768px) {
      #menu_chic li.firstTitle > img.img-d {
        width: 26%;
        height: 4vh; } }
    @media (max-width: 425px) {
      #menu_chic li.firstTitle > img.img-d {
        height: 3vh;
        width: 63px; } }
    @media (max-width: 375px) {
      #menu_chic li.firstTitle > img.img-d {
        height: 2.3vh;
        width: 19%; } }
    @media (max-width: 320px) {
      #menu_chic li.firstTitle > img.img-d {
        width: 19%;
        height: 2.5vh; } }
  #menu_chic li.firstTitle > img.img-g {
    width: 30%;
    height: 1.8vh;
    padding-right: 1%; }
    @media (max-width: 768px) {
      #menu_chic li.firstTitle > img.img-g {
        width: 26%;
        height: 4vh; } }
    @media (max-width: 425px) {
      #menu_chic li.firstTitle > img.img-g {
        height: 3vh;
        width: 63px; } }
    @media (max-width: 375px) {
      #menu_chic li.firstTitle > img.img-g {
        height: 2.3vh;
        width: 19%; } }
    @media (max-width: 320px) {
      #menu_chic li.firstTitle > img.img-g {
        width: 19%;
        height: 2.5vh; } }
  #menu_chic li.secondTitle > img.img-d {
    width: 30%;
    height: 1.8vh;
    padding-right: 4%;
    padding-right: 22px;
    transform: rotate(0.5turn); }
    @media (max-width: 768px) {
      #menu_chic li.secondTitle > img.img-d {
        width: 26%;
        height: 4vh; } }
    @media (max-width: 425px) {
      #menu_chic li.secondTitle > img.img-d {
        height: 3vh;
        width: 63px; } }
    @media (max-width: 375px) {
      #menu_chic li.secondTitle > img.img-d {
        height: 2.3vh;
        width: 19%; } }
    @media (max-width: 320px) {
      #menu_chic li.secondTitle > img.img-d {
        width: 19%;
        height: 2.5vh; } }
  #menu_chic li.secondTitle > img.img-g {
    width: 30%;
    height: 1.8vh;
    padding-right: 4%;
    padding-right: 25px; }
    @media (max-width: 768px) {
      #menu_chic li.secondTitle > img.img-g {
        width: 26%;
        height: 4vh; } }
    @media (max-width: 425px) {
      #menu_chic li.secondTitle > img.img-g {
        height: 3vh;
        width: 63px; } }
    @media (max-width: 375px) {
      #menu_chic li.secondTitle > img.img-g {
        height: 2.3vh;
        width: 19%; } }
    @media (max-width: 320px) {
      #menu_chic li.secondTitle > img.img-g {
        width: 19%;
        height: 2.5vh; } }
  #menu_chic li.thirdTitle > img.img-d {
    width: 30%;
    height: 1.8vh;
    padding-right: 9px;
    transform: rotate(0.5turn);
    padding-right: 11px; }
    @media (max-width: 768px) {
      #menu_chic li.thirdTitle > img.img-d {
        width: 26%;
        height: 4vh; } }
    @media (max-width: 425px) {
      #menu_chic li.thirdTitle > img.img-d {
        height: 3vh;
        width: 63px; } }
    @media (max-width: 375px) {
      #menu_chic li.thirdTitle > img.img-d {
        height: 2.3vh;
        width: 19%; } }
    @media (max-width: 320px) {
      #menu_chic li.thirdTitle > img.img-d {
        width: 19%;
        height: 2.5vh; } }
  #menu_chic li.thirdTitle > img.img-g {
    width: 30%;
    height: 1.8vh;
    padding-right: 9px;
    padding-right: 10px; }
    @media (max-width: 768px) {
      #menu_chic li.thirdTitle > img.img-g {
        width: 26%;
        height: 4vh; } }
    @media (max-width: 425px) {
      #menu_chic li.thirdTitle > img.img-g {
        height: 3vh;
        width: 63px; } }
    @media (max-width: 375px) {
      #menu_chic li.thirdTitle > img.img-g {
        height: 2.3vh;
        width: 19%; } }
    @media (max-width: 320px) {
      #menu_chic li.thirdTitle > img.img-g {
        width: 19%;
        height: 2.5vh; } }
  #menu_chic .titlesection {
    justify-content: center; }
  #menu_chic ul.title.Section > li {
    text-align: center;
    padding: 6% 0;
    font-size: 31px;
    text-align: center;
    font-weight: bold;
    background: -webkit-gradient(linear, left top, right bottom, from(#e38a12), to(#a67afd));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
    @media (max-width: 768px) {
      #menu_chic ul.title.Section > li {
        font-size: 7vw; } }

#menu_delice {
  flex-direction: column;
  text-align: center;
  font-size: 14px;
  background-color: #FFF5FE;
  font-family: 'Kalam', cursive;
  box-shadow: 0 0 17px -10px #735F5D; }
  @media (max-width: 768px) {
    #menu_delice {
      font-size: 1.7vw;
      height: 81vw; } }
  @media (max-width: 425px) {
    #menu_delice {
      font-size: 3vw;
      height: 130vw; } }
  @media (max-width: 375px) {
    #menu_delice {
      font-size: 3.4vw;
      height: 150vw; } }
  @media (max-width: 320px) {
    #menu_delice {
      font-size: 3.7vw;
      height: 172vw; } }
  #menu_delice li {
    text-align: left;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    padding: 0 12%;
    margin-bottom: 6px; }
  #menu_delice .firstTitle, #menu_delice .secondTitle, #menu_delice .thirdTitle {
    font-family: 'Kalam', cursive;
    font-size: 17px;
    font-weight: normal;
    padding: 0 29px; }
    @media (max-width: 768px) {
      #menu_delice .firstTitle, #menu_delice .secondTitle, #menu_delice .thirdTitle {
        font-size: 1.8vw; } }
  #menu_delice h2 {
    font-size: 19px; }
    @media (max-width: 768px) {
      #menu_delice h2 {
        font-size: 3.5vw; } }
    @media (max-width: 425px) {
      #menu_delice h2 {
        font-size: 4.1vw; } }
  #menu_delice ul.title.Section > li {
    font-size: 52px;
    font-family: 'Dancing Script', serif;
    font-weight: bold;
    background: -webkit-gradient(linear, left top, right bottom, from(#102FBD), to(#178FFB));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 6% 0;
    text-align: center; }
    @media (max-width: 768px) {
      #menu_delice ul.title.Section > li {
        font-size: 5vw; } }
  #menu_delice .first {
    margin-bottom: 2.5vw; }
  #menu_delice .second {
    margin-bottom: 2.5vw; }
  #menu_delice li.firstTitle > img.img-d {
    width: 30%;
    height: 1.8vh;
    padding-right: 3%;
    transform: scaleX(-1); }
    @media (max-width: 768px) {
      #menu_delice li.firstTitle > img.img-d {
        width: 26%;
        height: 4vh; } }
    @media (max-width: 425px) {
      #menu_delice li.firstTitle > img.img-d {
        height: 3vh;
        width: 60px; } }
    @media (max-width: 375px) {
      #menu_delice li.firstTitle > img.img-d {
        height: 2.3vh;
        width: 19%; } }
    @media (max-width: 320px) {
      #menu_delice li.firstTitle > img.img-d {
        width: 19%;
        height: 2.5vh; } }
  #menu_delice li.firstTitle > img.img-g {
    width: 30%;
    height: 1.8vh;
    padding-right: 3%; }
    @media (max-width: 768px) {
      #menu_delice li.firstTitle > img.img-g {
        width: 26%;
        height: 4vh; } }
    @media (max-width: 425px) {
      #menu_delice li.firstTitle > img.img-g {
        height: 3vh;
        width: 60px; } }
    @media (max-width: 375px) {
      #menu_delice li.firstTitle > img.img-g {
        height: 2.3vh;
        width: 19%; } }
    @media (max-width: 320px) {
      #menu_delice li.firstTitle > img.img-g {
        width: 19%;
        height: 2.5vh; } }
  #menu_delice li.secondTitle > img.img-d {
    width: 30%;
    height: 1.8vh;
    padding-right: 4%;
    transform: scaleX(-1); }
    @media (max-width: 768px) {
      #menu_delice li.secondTitle > img.img-d {
        width: 26%;
        height: 4vh; } }
    @media (max-width: 425px) {
      #menu_delice li.secondTitle > img.img-d {
        height: 3vh;
        width: 60px; } }
    @media (max-width: 375px) {
      #menu_delice li.secondTitle > img.img-d {
        height: 2.3vh;
        width: 19%; } }
    @media (max-width: 320px) {
      #menu_delice li.secondTitle > img.img-d {
        width: 19%;
        height: 2.5vh; } }
  #menu_delice li.secondTitle > img.img-g {
    width: 30%;
    height: 1.8vh;
    padding-right: 4%; }
    @media (max-width: 768px) {
      #menu_delice li.secondTitle > img.img-g {
        width: 26%;
        height: 4vh; } }
    @media (max-width: 425px) {
      #menu_delice li.secondTitle > img.img-g {
        height: 3vh;
        width: 60px; } }
    @media (max-width: 375px) {
      #menu_delice li.secondTitle > img.img-g {
        height: 2.3vh;
        width: 19%; } }
    @media (max-width: 320px) {
      #menu_delice li.secondTitle > img.img-g {
        width: 19%;
        height: 2.5vh; } }
  #menu_delice li.thirdTitle > img.img-d {
    width: 30%;
    height: 1.8vh;
    padding-right: 5%;
    transform: scaleX(-1); }
    @media (max-width: 768px) {
      #menu_delice li.thirdTitle > img.img-d {
        width: 26%;
        height: 4vh; } }
    @media (max-width: 425px) {
      #menu_delice li.thirdTitle > img.img-d {
        height: 3vh;
        width: 60px; } }
    @media (max-width: 375px) {
      #menu_delice li.thirdTitle > img.img-d {
        height: 2.3vh;
        width: 19%; } }
    @media (max-width: 320px) {
      #menu_delice li.thirdTitle > img.img-d {
        width: 19%;
        height: 2.5vh; } }
  #menu_delice li.thirdTitle > img.img-g {
    width: 30%;
    height: 1.8vh;
    padding-right: 5%; }
    @media (max-width: 768px) {
      #menu_delice li.thirdTitle > img.img-g {
        width: 26%;
        height: 4vh; } }
    @media (max-width: 425px) {
      #menu_delice li.thirdTitle > img.img-g {
        height: 3vh;
        width: 60px; } }
    @media (max-width: 375px) {
      #menu_delice li.thirdTitle > img.img-g {
        height: 2.3vh;
        width: 19%; } }
    @media (max-width: 320px) {
      #menu_delice li.thirdTitle > img.img-g {
        width: 19%;
        height: 2.5vh; } }
