@keyframes wiggle {
  0% {
    transform: rotate(0deg); }
  3% {
    transform: rotate(-2deg); }
  5% {
    transform: rotate(2deg); }
  6% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes blink {
  0% {
    opacity: 0; }
  40%, 60% {
    opacity: 1; }
  100% {
    opacity: 0; } }

section > span {
  -webkit-animation: blink 2.5s infinite;
  animation: blink 2.5s infinite; }

section > span:nth-child(2) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s; }

section > span:nth-child(3) {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s; }

i {
  font-style: normal;
  margin: 0;
  padding: 0; }

i::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  margin-bottom: 9px;
  background-color: #000;
  transition: width 0.4s; }

i:hover:after {
  width: 100%; }

header {
  width: 100%;
  height: 100px;
  background-color: #559c84;
  color: #FFC400;
  font-size: 35px;
  line-height: 89px;
  text-align: center;
  font-weight: 700; }

footer {
  margin: 0;
  display: flex;
  justify-content: space-between;
  height: 56px;
  background-color: #559c84;
  color: #FFC400;
  font-size: 17px;
  line-height: 63px;
  text-align: center;
  padding: 0 10px; }

footer > a {
  -webkit-animation: wiggle 3s infinite;
  animation: wiggle 3s infinite; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 973px;
  font-family: "Montserrat", Arial, sans-serif;
  display: flex;
  flex-direction: column; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

li {
  text-align: center; }

.price {
  margin-left: auto;
  font-weight: bold; }

a {
  overflow: hidden;
  text-decoration: none;
  color: #FFC400; }

div#main > a {
  text-decoration: none;
  color: black; }

#main img {
  padding-top: 86px;
  width: 30px;
  height: 30px; }

#main {
  margin: auto;
  width: 613px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #F9F9F9;
  height: 800px;
  padding: 20px;
  margin-bottom: 5px; }

#main .Card {
  height: 310px;
  width: 220px;
  margin: 20px;
  box-shadow: 0 0 17px -10px #735F5D;
  transition: transform 400ms; }

#main .Card:hover {
  transform: scale(1.15); }

#main .first {
  background-color: #fbdcdb;
  font-family: 'Devonshire', cursive; }

#main .second {
  background-color: #fbf3fb;
  font-family: 'Playfair Display', serif; }

#main .third {
  background-color: #fbfbfb;
  font-family: 'Dancing Script', cursive; }

#main .fourth {
  background-color: white;
  font-family: 'Kaushan Script', cursive; }

#main .firstTitle, #main .secondTitle, #main .thirdTitle, #main .fourthTitle {
  margin-bottom: 8px;
  font-size: 20px; }

#main section {
  background-color: #559c84;
  align-self: flex-end;
  margin: 11px auto;
  padding: 8px 40px;
  border-radius: 10px;
  font-size: 25px;
  color: #FFC400; }

#main .subtitle {
  font-size: 26px; }

#main .secondTitle {
  padding-top: 137px;
  background: -webkit-gradient(linear, left top, right bottom, from(#e38a12), to(#a67afd));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

#main ul.first.Card > li.subtitle {
  font-family: 'Kalam', cursive; }

#main ul.second.Card > li.subtitle {
  color: #e38a12;
  font-weight: bold; }

#main ul.third.Card > li.subtitle {
  color: #102fdb;
  font-family: 'Kalam', cursive; }

#main ul.fourth.Card > li.subtitle {
  color: #3d923a;
  font-family: 'Kalam', cursive; }

#main .thirdTitle {
  padding-top: 137px;
  background: -webkit-gradient(linear, left top, right bottom, from(#102fdb), to(#178ffb));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

#main .fourthTitle {
  padding-top: 137px;
  background: -webkit-gradient(linear, left top, right bottom, from(#3d923a), to(#beff7f));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

#menu_note {
  margin: auto;
  width: 613px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  font-family: 'Kalam', cursive;
  align-items: center;
  height: 900px;
  font-size: 14px;
  background-color: #FCDFDB; }

#menu_note li {
  text-align: left;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 8px; }

#menu_note .price {
  margin-left: auto;
  font-weight: bold; }

#menu_note .title {
  font-family: 'Devonshire', cursive;
  font-size: 37px;
  margin-bottom: 21px; }

#menu_note .note {
  font-family: 'Devonshire', cursive;
  font-size: 37px; }

.musicbot {
  width: 22px;
  height: 22px;
  margin-right: 5px; }

#menu_note li.firstTitle > img.img-d {
  width: 156px;
  height: 29px;
  margin-left: var(--first-margin); }

#menu_note li.firstTitle > img.img-g {
  width: 156px;
  height: 29px;
  margin-right: var(--first-margin); }

#menu_note li.secondTitle > img.img-d {
  width: 156px;
  height: 29px;
  margin-left: var(--second-margin); }

#menu_note li.secondTitle > img.img-g {
  width: 156px;
  height: 29px;
  margin-right: var(--second-margin); }

#menu_note li.thirdTitle > img.img-d {
  width: 156px;
  height: 29px;
  margin-left: var(--third-margin); }

#menu_note li.thirdTitle > img.img-g {
  width: 156px;
  height: 29px;
  margin-right: var(--third-margin); }

#menu_note .firstTitle, #menu_note .secondTitle, #menu_note .thirdTitle {
  font-size: 21px;
  font-weight: bold; }

.music {
  width: 60px;
  height: 60px;
  margin-top: 43px;
  margin-bottom: -6px; }

#menu_note {
  --first-margin: 58px;
  --second-margin: 29px;
  --third-margin: 14px; }

#menu_note p {
  margin: 4px 0 0 0;
  padding: 0px; }

#menu_note i {
  font-style: normal;
  margin: 0;
  padding: 0; }

#menu_note .first {
  margin-bottom: 39px; }

#menu_note .second {
  margin-bottom: 36px; }

#menu_note .third {
  margin-bottom: 25px; }

#menu_gout {
  --first-padding: 39px;
  --second-padding: 14px;
  --third-padding: 7px;
  --size-mark: 168px; }

#menu_gout h1 {
  text-align: center;
  font-size: 46px;
  margin: 76px 0 80px 0;
  font-family: 'Kaushan Script', cursive;
  font-weight: normal;
  background: -webkit-gradient(linear, left top, right bottom, from(#3d923a), to(#beff7f));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

#menu_gout li {
  text-align: left;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0 32px;
  margin-bottom: 10px; }

#menu_gout {
  margin: auto;
  width: 613px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  height: 900px;
  font-size: 12px;
  background-color: #FFF5FE;
  padding: 0 25px;
  font-family: 'Kalam', cursive; }

#menu_gout .firstTitle, #menu_gout .secondTitle, #menu_gout .thirdTitle {
  font-size: 13px;
  padding: 0;
  font-family: 'Kalam', cursive; }

#menu_gout ul.title.Section > li {
  padding: 79px 144px;
  font-size: 25px;
  text-align: center; }

#menu_gout .first {
  margin-bottom: 39px; }

#menu_gout .second {
  margin-bottom: 36px; }

#menu_gout .third {
  margin-bottom: 25px; }

#menu_gout li.firstTitle > img.img-d {
  width: var(--size-mark);
  height: 10px;
  padding-right: var(--first-padding);
  transform: scaleX(-1); }

#menu_gout li.firstTitle > img.img-g {
  width: var(--size-mark);
  height: 10px;
  padding-right: var(--first-padding); }

#menu_gout li.secondTitle > img.img-d {
  width: var(--size-mark);
  height: 10px;
  padding-right: var(--second-padding);
  transform: scaleX(-1); }

#menu_gout li.secondTitle > img.img-g {
  width: var(--size-mark);
  height: 10px;
  padding-right: var(--second-padding); }

#menu_gout li.thirdTitle > img.img-d {
  width: var(--size-mark);
  height: 10px;
  padding-right: var(--third-padding);
  transform: scaleX(-1); }

#menu_gout li.thirdTitle > img.img-g {
  width: var(--size-mark);
  height: 10px;
  padding-right: var(--third-padding); }

#menu_gout .degrade {
  font-size: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#045FB4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

#menu_chic {
  --first-margin: 2px;
  --second-padding: 21px;
  --third-padding: 9px;
  --size-mark:212px; }

#menu_chic {
  margin: auto;
  width: 613px;
  display: flex;
  flex-direction: column;
  font-family: 'Playfair Display', serif;
  flex-wrap: wrap;
  text-align: center;
  height: 900px;
  font-size: 14px;
  background-color: #FFF5FE; }

#menu_chic .firstTitle, #menu_chic .secondTitle, #menu_chic .thirdTitle {
  font-size: 15px;
  font-weight: bold;
  padding: 0 5px;
  margin-bottom: 12px; }

#menu_chic .first {
  margin-bottom: 42px;
  color: #c67412; }

#menu_chic .second {
  margin-bottom: 43px;
  color: #a56799; }

#menu_chic .third {
  margin-bottom: 25px;
  color: #6e4ccc; }

#menu_chic li.firstTitle > img.img-d {
  width: var(--size-mark);
  height: 18px;
  margin-right: var(--first-margin);
  transform: rotate(0.5turn); }

#menu_chic li.firstTitle > img.img-g {
  width: var(--size-mark);
  height: 18px;
  margin-right: var(--first-margin); }

#menu_chic li.secondTitle > img.img-d {
  width: var(--size-mark);
  height: 18px;
  padding-right: var(--second-padding);
  transform: rotate(0.5turn); }

#menu_chic li.secondTitle > img.img-g {
  width: var(--size-mark);
  height: 18px;
  padding-right: var(--second-padding); }

#menu_chic li.thirdTitle > img.img-d {
  width: var(--size-mark);
  height: 18px;
  padding-right: var(--third-padding);
  transform: rotate(0.5turn); }

#menu_chic li.thirdTitle > img.img-g {
  width: var(--size-mark);
  height: 18px;
  padding-right: var(--third-padding); }

#menu_chic .titleSection {
  justify-content: center; }

#menu_chic h1 {
  text-align: center;
  font-size: 31px;
  margin: 86px 0 76px 0;
  text-align: center;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, right bottom, from(#e38a12), to(#a67afd));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

#menu_chic li {
  text-align: left;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0 91px;
  margin-bottom: 13px; }

#menu_delice {
  --first-padding: 16px;
  --second-padding: 21px;
  --third-padding: 23px;
  --size-mark:183px; }

#menu_delice {
  margin: auto;
  width: 613px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  height: 900px;
  font-size: 14px;
  background-color: #FFF5FE;
  font-family: 'Kalam', cursive; }

#menu_delice li {
  text-align: left;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0 92px;
  margin-bottom: 6px; }

#menu_delice h1 {
  text-align: center;
  font-size: 52px;
  margin: 76px 0 62px 0;
  font-family: 'Dancing Script', serif;
  background: -webkit-gradient(linear, left top, right bottom, from(#102fdb), to(#178ffb));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold; }

#menu_delice .firstTitle, #menu_delice .secondTitle, #menu_delice .thirdTitle {
  font-family: 'Kalam', cursive;
  font-size: 17px;
  font-weight: normal;
  padding: 0 29px; }

#menu_delice ul.title.Section > li {
  padding: 79px 144px;
  font-size: 25px;
  text-align: center; }

#menu_delice .first {
  margin-bottom: 35px; }

#menu_delice .second {
  margin-bottom: 30px; }

#menu_delice li.firstTitle > img.img-d {
  width: var(--size-mark);
  height: 18px;
  padding-right: var(--first-padding);
  transform: scaleX(-1); }

#menu_delice li.firstTitle > img.img-g {
  width: var(--size-mark);
  height: 18px;
  padding-right: var(--first-padding); }

#menu_delice li.secondTitle > img.img-d {
  width: var(--size-mark);
  height: 18px;
  padding-right: var(--second-padding);
  transform: scaleX(-1); }

#menu_delice li.secondTitle > img.img-g {
  width: var(--size-mark);
  height: 18px;
  padding-right: var(--second-padding); }

#menu_delice li.thirdTitle > img.img-d {
  width: var(--size-mark);
  height: 18px;
  padding-right: var(--third-padding);
  transform: scaleX(-1); }

#menu_delice li.thirdTitle > img.img-g {
  width: var(--size-mark);
  height: 18px;
  padding-right: var(--third-padding); }
