body {
  margin: auto;
  padding: 0;
  width: 613px;
  height: 973px;
  font-family: "Montserrat", Arial, sans-serif;
  display: flex;
  flex-direction: column;

}

header {
  height: 100px;
  background-color: #559c84;
  color: #FFC400;
  font-size: 35px;
  line-height: 89px;
  text-align: center;
  font-weight: 700;
}

li {
  text-align: center;
}

img {
  padding-top: 86px;
  width: 30px;
  height: 30px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #F9F9F9;
  height: 800px;
  padding: 20px;
  margin-bottom: 5px;
}

.Card {
  height: 310px;
  width: 220px;
  margin: 20px;
  box-shadow: 0 0 17px -10px #735F5D;
  transition: transform 400ms;
}
.Card:hover {
  transform: scale(1.15);
}

.first {
  background-color: #fbdcdb;
  font-family: 'Ma Shan Zheng', cursive;
}


.second {
  background-color: #fbf3fb;
  font-family: 'Playfair Display', serif;
}

.third {
  background-color: #fbfbfb;
  font-family: 'Dancing Script', cursive;
}

.fourth {
  background-color: white;
  font-family: 'Kaushan Script', cursive;
}

.firstTitle , .secondTitle , .thirdTitle , .fourthTitle{
  margin-bottom: 8px;
  font-size: 20px;
}

section {
  background-color: #559c84;
  align-self: flex-end;
  margin: 11px auto;
  padding: 8px 40px;
  border-radius: 10px;
  font-size: 25px;
  color: #FFC400;
}


.subtitle{
  font-size: 26px;
}

.secondTitle {
  padding-top: 137px;
    background: -webkit-gradient(linear, left top, right bottom, from(#e38a12), to(#a67afd));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

ul.first.Card>li.subtitle{

  font-family: 'Kalam', cursive;
}

ul.second.Card>li.subtitle{
  color:#e38a12;
  font-weight: bold;
}

ul.third.Card>li.subtitle{
  color:#102fdb;
  font-family: 'Kalam', cursive;
}

ul.fourth.Card>li.subtitle{
  color:#3d923a;
  font-family: 'Kalam', cursive;
}

.thirdTitle {
  padding-top: 137px;
  background: -webkit-gradient(linear, left top, right bottom, from(#102fdb), to(#178ffb));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fourthTitle {
  padding-top: 137px;
  background: -webkit-gradient(linear, left top, right bottom, from(#3d923a), to(#beff7f));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  display: flex;
  justify-content: space-between;
  height: 56px;
  background-color: #559c84;
  color: #FFC400;
  font-size: 20px;
  line-height: 63px;
  text-align: center;
  padding: 0 10px;
}

footer>a{
  -webkit-animation: wiggle 3s infinite;
  animation: wiggle 3s infinite;
}

div#main>a {
  text-decoration: none;
  color: black;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg); }
  3% {
    transform: rotate(-2deg); }
  5% {
    transform: rotate(5deg); }
  6% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(0deg); } 
}

@keyframes blink {
  0% {
    opacity: 0; }
  40%, 60% {
    opacity: 1; }
  100% {
    opacity: 0; } }

    section>span {
      -webkit-animation: blink 2.5s infinite;
      animation: blink 2.5s infinite; }
    section>span:nth-child(2) {
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s; }
    section>span:nth-child(3) {
      -webkit-animation-delay: 1.2s;
      animation-delay: 1.2s; }