:root {
    --first-margin: 63px;
    --second-margin: 44px;
    --third-margin: 33px;
}

body {
    margin: auto;
    padding: 0;
    width: 613px;
    height: 973px;
    font-family: "Montserrat", Arial, sans-serif;
    display: flex;
    flex-direction: column;

}

header {
    height: 100px;
    background-color: #559c84;
    color: #FFC400;
    font-size: 35px;
    line-height: 89px;
    text-align: center;
    font-weight: 700;
    padding-bottom: 12px;
}

h1{
    text-align: center;
    font-size: 25px;
    margin: 31px 0 16px 0;
}

ul {
    margin: 0;
    padding: 0;
}

li  {
    text-align: left;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px ;
}

.menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    height: 800px;
    padding:35px 51px 0px 51px;
    font-size: 14px;
    background-color: #FFF5FE;
    margin:0px 50px 13px 50px;
}

footer {
    display: flex;
    justify-content: space-around;
    height: 56px;
    background-color: #559c84;
    color: #FFC400;
    font-size: 20px;
    line-height: 63px;
    text-align: center;
    margin-top:43px;
}

.price{
    margin-left:auto;
    font-weight: bold;
}

.note , .title {
    font-size: 25px;
}

.firstTitle , .secondTitle , .thirdTitle
{
    font-size: 15px;
    font-weight: bold;
}

.title {
    margin-bottom: 16px;
}

.first {
    margin-bottom: 39px;
}

.second{
    margin-bottom: 36px;
}

.third{
    margin-bottom: 25px;
}

li.firstTitle>img.img-d
{
    width: 116px;
    height: 18px;
    margin-left: var(--first-margin);
    transform: rotate(0.5turn);
}
li.firstTitle>img.img-g
{
    width: 116px;
    height: 18px;
    margin-right: var(--first-margin);
}

li.secondTitle>img.img-d
{
    width: 116px;
    height: 18px;
    margin-left: var(--second-margin);
    transform: rotate(0.5turn);
}
li.secondTitle>img.img-g
{
    width: 116px;
    height: 18px;
    margin-right: var(--second-margin);
}

li.thirdTitle>img.img-d
{
    width: 116px;
    height: 18px;
    margin-left: var(--third-margin);
    transform: rotate(0.5turn);
}

li.thirdTitle>img.img-g
{
    width: 116px;
    height: 18px;
    margin-right: var(--third-margin);
}

.titleSection{
    justify-content: center;
}