:root {
    --first-margin: 63px;
    --second-margin: 44px;
    --third-margin: 33px;
}

body {
    margin: auto;
    padding: 0;
    width: 613px;
    height: 973px;
    
    display: flex;
    flex-direction: column;
    padding: 0;
}

header {
    height: 100px;
    background-color: #559c84;
    color: #FFC400;
    font-size: 35px;
    line-height: 89px;
    text-align: center;
    font-weight: 700;
    padding-bottom: 12px;
    font-family: "Montserrat", Arial, sans-serif;
}
h1{
    font-family: 'Kalam', cursive;
    text-align: center;
    font-size: 25px;
    margin: 31px 0 16px 0;
}
.music {
    width: 50px;
    height: 50px;
}

ul {
    padding: 0;
    margin: 0;
}

li  {
    text-align: left;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    font-family: 'Kalam', cursive;
    align-items: center;
    height: 900px;
    padding:35px 51px 0px 51px;
    font-size: 13px;
    background-color: #FCDFDB;
    margin:0px 50px 13px 50px;
}

footer {
    display: flex;
    justify-content: space-around;
    height: 56px;
    background-color: #559c84;
    color: #FFC400;
    font-size: 20px;
    line-height: 63px;
    text-align: center;
    margin-top:43px;
}

.price{
    margin-left:auto;
    font-weight: bold;
}

.note , .title {
    font-family: 'Ma Shan Zheng', cursive;
    font-size: 25px;
}

li 
{
    margin-bottom: 10px ;
}
.firstTitle , .secondTitle , .thirdTitle
{
    font-size: 15px;
    font-weight: bold;
}

.musicbot
{
    width: 22px;
    height: 22px;
    margin-right:5px;
}

.title {
    margin-bottom: 16px;
}

.first {
    margin-bottom: 39px;
}

.second{
    margin-bottom: 36px;
}

.third{
    margin-bottom: 25px;
}

li.firstTitle>img.img-d
{
    width: 116px;
    height: 18px;
    margin-left: var(--first-margin)
}
li.firstTitle>img.img-g
{
    width: 116px;
    height: 18px;
    margin-right: var(--first-margin)
}

li.secondTitle>img.img-d
{
    width: 116px;
    height: 18px;
    margin-left: var(--second-margin)
}
li.secondTitle>img.img-g
{
    width: 116px;
    height: 18px;
    margin-right: var(--second-margin)
}

li.thirdTitle>img.img-d
{
    width: 116px;
    height: 18px;
    margin-left: var(--third-margin)
}

li.thirdTitle>img.img-g
{
    width: 116px;
    height: 18px;
    margin-right: var(--third-margin)
}

.titleSection{
    justify-content: center;
}

p {
    margin:14px 0 41px 0;
    padding:0px;
}