@mixin size_decoration_left_note ($margin) {
    width: 156px;
    height: 29px;
    margin-right: $margin;
    @include lg {
        width: 62px;
        }
        @include md {
            font-size: 18px;
            height: 16px;
        }
}

@mixin size_decoration_right_note ($margin) {
    width: 156px;
    height: 29px;
    margin-left: $margin;
@include lg {
    width: 62px;
    }
    @include md {
        font-size: 18px;
        height: 16px;
    }
}

@mixin size_decoration_gout ($padding , $size) {
    width: $size;
    height: 19px;
    padding-left: $padding;
        @include md {
            height: 16px;
        }
}

@mixin size_decoration_chic ($margin , $size) {
    width : $size;
    height: 18px;
    padding-right: $margin;
}

@mixin size_decoration_delice ($padding , $size) {
    width : $size;
    height: 18px;
    padding-right: $padding;
    @include lg {
        width: 60px;
        }
        @include md {
            height: 16px;
        }
}

@mixin gradient ($start_color , $end-color) {
    background: -webkit-gradient(linear, left top, right bottom, from($start_color), to($end-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin setting_li {
    text-align: left;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
}

@mixin tab {
    @media (max-width: $screen-tablet-max) {
        @content;
    }
}

@mixin lg {
    @media (max-width: $screen-large-max) {
        @content;
    }
}

@mixin md {
    @media (max-width: $screen-medium-max) {
        @content;
    }
}

@mixin sm {
    @media (max-width: $screen-small-max) {
        @content;
    }
}


