@mixin size_decoration_left_note ($margin) {
    width: 30%;
    height: 2.5vh;
    margin-right: $margin;
    @include lg {
        height: 1.8vh;
    }
}

@mixin size_decoration_right_note ($margin) {
    width: 30%;
    height: 2.5vh;
    margin-left: $margin;
    @include lg {
        height: 1.8vh;
    }
}

@mixin size_decoration_gout ($padding , $size) {
    width: $size;
    height: 2.9vh;
    @include lg {
        height: 1.7vh;
    }
    padding-left: $padding;
}

@mixin size_decoration_chic ($margin , $size) {
    width : $size;
    height: 1vw;
    padding-right: $margin;
    @include lg {
        height: 1.7vh;
    }
}

@mixin size_decoration_delice ($padding , $size) {
    width : $size;
    height: 18px;
    padding-right: $padding;
    @include lg {
        height: 1.7vh;
    }
}

@mixin gradient ($start_color , $end-color) {
    background: -webkit-gradient(linear, left top, right bottom, from($start_color), to($end-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin setting_li {
    text-align: left;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
}

@mixin tab {
    @media (max-width: $screen-tablet-max) {
        @content;
    }
}

@mixin lg {
    @media (max-width: $screen-large-max) {
        @content;
    }
}

@mixin md {
    @media (max-width: $screen-medium-max) {
        @content;
    }
}

@mixin sm {
    @media (max-width: $screen-small-max) {
        @content;
    }
}


