.typography {
  margin: 2vw auto 4vw auto;
  width: 613px;
  display: flex;
  height: 100vw;
  @include tab {
    width: 80%;
    height: 105vw;
  }
  @include lg {
    height: 168vw;
  }
  @include md {
    height: 176vw;
  }
  @include sm {
    height: 180vw;
  }

}