$pink: #FBDCDB;
$light_violet:#FBF3FB;
$light_grey:#F9F9F9;
$dark_green:#559c84;
$yellow:#FFC400;

$first-margin_note: 8%;
$second-margin_note: 5%;
$third-margin_note: 4%;

$first-padding_gout: 8%;
$second-padding_gout: 3%;
$third-padding_gout: 2%;
$size-mark_gout: 30%;

$first-margin_chic: 1%;
$second-padding_chic: 4%;
$third-padding_chic: 9px;
$size-mark_chic:30%;

$first-padding_delice: 3%;
$second-padding_delice: 4%;
$third-padding_delice: 5%;
$size-mark_delice:30%;

$screen-laptop-max: 1024px;
$screen-tablet-max: 768px;
$screen-large-max:425px;
$screen-medium-max:375px;
$screen-small-max:320px;