$pink: #FBDCDB;
$light_violet:#FBF3FB;
$light_grey:#F9F9F9;
$dark_green:#559c84;
$yellow:#FFC400;

$first-margin_note: 58px;
$second-margin_note: 29px;
$third-margin_note: 14px;

$first-padding_gout: 39px;
$second-padding_gout: 14px;
$third-padding_gout: 7px;
$size-mark_gout: 168px;

$first-margin_chic: 2px;
$second-padding_chic: 21px;
$third-padding_chic: 9px;
$size-mark_chic:212px;

$first-padding_delice: 16px;
$second-padding_delice: 21px;
$third-padding_delice: 23px;
$size-mark_delice:183px;