#main{
  @extend .typography;
  flex-direction: row;
  justify-content: center;
  background-color: $light_grey;
  padding: 20px;
  flex-wrap: wrap;
  @include lg {
    flex-direction: column;
    height: auto;
    width: auto;
  }
  @include sm {
    padding: 0;
  }
  img {
    padding-top: 86px;
    width: 30px;
    height: 30px;
  }
  .Card {
    @include lg {
    margin:48px;
    }

    height: 310px;
    width: 220px;
    margin: 20px;
    box-shadow: 0 0 17px -10px #735F5D;
    transition: transform 400ms;
        &:hover {
          transform: scale(1.15);
        }
  }
  .first {
    background-color: $pink;
    font-family: 'Devonshire', cursive;
  }
  .second {
    background-color: $light_violet;
    font-family: 'Playfair Display', serif;
  }
  .third {
    background-color: $light_grey;
    font-family: 'Dancing Script', cursive;
  }
  .fourth {
    background-color: white;
    font-family: 'Kaushan Script', cursive;
  }
  .firstTitle {
    margin-bottom: 8px;
    font-size: 20px;
  }
  h6 {
    background-color: $dark_green;
    align-self: flex-end;
    margin: 11px auto;
    padding: 8px 40px;
    border-radius: 10px;
    font-size: 25px;
    color: #FFC400;
    font-weight: normal;
  }
  .subtitle{
    font-size: 26px;
  }

  
  ul.first.Card>li.subtitle{
    font-family: 'Kalam', cursive;
  }
  
  ul.second.Card>li.subtitle{
    color:#e38a12;
    font-weight: bold;
  }
  
  ul.third.Card>li.subtitle{
    color:#102fdb;
    font-family: 'Kalam', cursive;
  }
  
  ul.fourth.Card>li.subtitle{
    color:#3d923a;
    font-family: 'Kalam', cursive;
  }
  
  .secondTitle {

    @include gradient(#e38a12 , #a67afd);
    margin-bottom: 8px;
    font-size: 20px;
    padding-top: 137px;
  }

  .thirdTitle {
    @include gradient(#102fdb , #178ffb);
    margin-bottom: 8px;
    font-size: 20px;
    padding-top: 137px;
  }
  
  .fourthTitle {
    @include gradient(#3d923a , #beff7f);
    margin-bottom: 8px;
    font-size: 20px;
    padding-top: 137px;
  }

}
