#main img {
    padding-top: 86px;
    width: 30px;
    height: 30px;
  }
  
  #main {
    margin: auto;
    width: 613px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F9F9F9;
    height: 800px;
    padding: 20px;
    margin-bottom: 5px;
  }
  
  #main .Card {
    height: 310px;
    width: 220px;
    margin: 20px;
    box-shadow: 0 0 17px -10px #735F5D;
    transition: transform 400ms;
  }
  #main .Card:hover {
    transform: scale(1.15);
  }
  
  #main .first {
    background-color: #fbdcdb;
    font-family: 'Devonshire', cursive;
  }
  
  
  #main .second {
    background-color: #fbf3fb;
    font-family: 'Playfair Display', serif;
  }
  
  #main .third {
    background-color: #fbfbfb;
    font-family: 'Dancing Script', cursive;
  }
  
  #main .fourth {
    background-color: white;
    font-family: 'Kaushan Script', cursive;
  }
  
  #main .firstTitle ,#main .secondTitle ,#main .thirdTitle , #main .fourthTitle{
    margin-bottom: 8px;
    font-size: 20px;
  }
  
  #main section {
    background-color: #559c84;
    align-self: flex-end;
    margin: 11px auto;
    padding: 8px 40px;
    border-radius: 10px;
    font-size: 25px;
    color: #FFC400;
  }
  
  
  #main .subtitle{
    font-size: 26px;
  }
  
  #main .secondTitle {
    padding-top: 137px;
      background: -webkit-gradient(linear, left top, right bottom, from(#e38a12), to(#a67afd));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  
  #main ul.first.Card>li.subtitle{
  
    font-family: 'Kalam', cursive;
  }
  
  #main ul.second.Card>li.subtitle{
    color:#e38a12;
    font-weight: bold;
  }
  
  #main ul.third.Card>li.subtitle{
    color:#102fdb;
    font-family: 'Kalam', cursive;
  }
  
  #main ul.fourth.Card>li.subtitle{
    color:#3d923a;
    font-family: 'Kalam', cursive;
  }
  
  #main .thirdTitle {
    padding-top: 137px;
    background: -webkit-gradient(linear, left top, right bottom, from(#102fdb), to(#178ffb));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  #main .fourthTitle {
    padding-top: 137px;
    background: -webkit-gradient(linear, left top, right bottom, from(#3d923a), to(#beff7f));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }