 #menu_gout{
    @extend .typography;
    flex-direction: column;
    text-align: center;
    font-size: 13px;
    background-color: #FFF5FE;
    padding: 0 25px;
    font-family: 'Kalam', cursive;
    box-shadow: 0 0 17px -10px #735F5D;
    @include lg {
      height: auto;
      width:auto;
      font-size: 9px;
      margin:54px 44px;
      padding: 0;
    }
    @include md {
      font-size: 7px;
      margin:54px 32px;
    }
     li{
        @include setting_li;
        padding: 0 84px;
        margin-bottom: 10px ;
        @include lg {
          padding: 0 20px;
          margin-bottom: 10px;
        }
        @include md {
          padding: 0 38px;
        }
      }
     .firstTitle , .secondTitle , .thirdTitle
      {
        font-size: 17px;
        padding:0 29px;
        font-family: 'Kalam', cursive;
        @include lg {
          font-size: 14px;
        }
        @include md {
          font-size: 10px;
        }
      }
     ul.title.section>li{
      font-size: 46px;
      font-family: 'Kaushan Script', cursive;
      font-weight:normal;
      @include gradient (#3d923a , #BEFF7F);
        padding: 53px 144px;
        text-align: center;
        @include lg {
          font-size: 24px;
          padding: 28px 77px;
        }
        @include md {
          font-size: 24px;
          padding: 28px 64px;
        }
      }
     .first {
        margin-bottom: 39px;
      }
     .second{
        margin-bottom: 36px;
      }
     .third{
        margin-bottom: 25px;
      }
     li.firstTitle>img.img-d
      {
        @include size_decoration_gout ($first-padding_gout , $size-mark_gout);
          transform: scaleX(-1);
          @include lg {
            padding-right: 31px;
            margin-right: 0;
          }
      }
     li.firstTitle>img.img-g
      {
        @include size_decoration_gout ($first-padding_gout , $size-mark_gout);
      }
     li.secondTitle>img.img-d
      {
        @include size_decoration_gout ($second-padding_gout , $size-mark_gout);
        transform: scaleX(-1);
        @include lg {
          padding-right: 9px;
          margin-right: 0;
        }
        @include md {
          padding-right: 16px;
        }
      }

     li.secondTitle>img.img-g
      {
        @include size_decoration_gout ($second-padding_gout , $size-mark_gout);
        @include lg {
          padding-right: 9px;
        }
        @include md {
          padding-right: 16px;
        }
      }
      
     li.thirdTitle>img.img-d
      {
        @include size_decoration_gout ($third-padding_gout , $size-mark_gout);
        transform: scaleX(-1);
        @include lg {
          padding-right: 3px;
          margin-right: 0;
        }
        @include md {
          padding-right: 11px;
        }
      }
      
     li.thirdTitle>img.img-g
      {
        @include size_decoration_gout ($third-padding_gout , $size-mark_gout);
        @include lg {
          padding-right: 2px;
        }
        @include md {
          padding-right: 11px;
        }
      }
  }