#menu_note{
    @extend .typography;
    flex-direction: column;
    text-align: center;
    font-family: 'Kalam', cursive;
    align-items: center;
    font-size: 14px;
    background-color: #FCDFDB;
    box-shadow: 0 0 17px -10px #735F5D;
    
    @include md {
      height: 176vw;
    }
    @include sm {
      height: 180vw;
    }
    @include tab {
      font-size: 2.4vw;
      height: 105vw;
    }
    @include lg {
      font-size: 3.4vw;
      height: 168vw;
    }

    li  {
      @include setting_li;
      padding: 0 7%;
      margin-bottom: 6px ;
      @include lg {
        margin-bottom: 9px;
      }
    }
    


    .title>li {
      font-family: 'Devonshire', cursive;
      font-size: 55px;
      margin-bottom: 12px;
      padding: 0;
      @include tab {
        font-size: 5.8vw;
      }
    }
    
    .note{
      font-family: 'Devonshire', cursive;
      font-size: 55px;
      @include tab {
        font-size: 5.8vw;
      }
    }
    
    .musicbot
    {
      width: 3vw;
      height: 3vw;
      margin-right:5px;
    }
    
    li.firstTitle>img.img-d
    {
      @include size_decoration_right_note ($first-margin_note);
    }

    li.firstTitle>img.img-g
    {
      @include size_decoration_left_note ($first-margin_note);
    }
    
    li.secondTitle>img.img-d
    {
      @include size_decoration_right_note ($second-margin_note);
    }

    li.secondTitle>img.img-g
    {
      @include size_decoration_left_note ($second-margin_note);
    }
    
    li.thirdTitle>img.img-d
    {
      @include size_decoration_right_note ($third-margin_note);
    }
    
    li.thirdTitle>img.img-g
    {
      @include size_decoration_left_note ($third-margin_note);
    }
    
    .firstTitle , .secondTitle ,.thirdTitle
    {
        font-size: 21px;
        font-weight: bold;
        padding:0 1%;
        margin-bottom: 12px;
        @include tab {
          font-size:2.5vw;
        }
        @include lg {
          margin-bottom: 0;
        }
    }
    
    .music {
      width: 4vw;
      height: 4vw;
      margin-top:11px;
      margin-bottom: -6px;
    }

    p {
      margin:4px 0 0 0;
      padding:0px;
    }
    
    .first {
      margin-bottom: 1.5vw;
    }
    
    .second{
      margin-bottom: 1.5vw;
    }
    
    .third{
      margin-bottom: 1.5vw;
    }
  }


