 #menu_gout{
    @extend .typography;
    flex-direction: column;
    text-align: center;
    font-size: 13px;
    background-color: #FFF5FE;
    padding: 0 25px;
    font-family: 'Kalam', cursive;
    box-shadow: 0 0 17px -10px #735F5D;
/*     h1{
        text-align: center;
        font-size: 46px;
        margin: 76px 0 80px 0;
        font-family: 'Kaushan Script', cursive;
        font-weight:normal;
        @include gradient (#3d923a , #BEFF7F)
      } */
     li{
        @include setting_li;
        padding: 0 84px;
        margin-bottom: 10px ;
      }
     .firstTitle , .secondTitle , .thirdTitle
      {
        font-size: 17px;
        padding:0 29px;
        font-family: 'Kalam', cursive;
      }
     ul.title.Section>li{
      font-size: 46px;
      font-family: 'Kaushan Script', cursive;
      font-weight:normal;
      @include gradient (#3d923a , #BEFF7F);
        padding: 53px 144px;
        text-align: center;
      }
     .first {
        margin-bottom: 39px;
      }
     .second{
        margin-bottom: 36px;
      }
     .third{
        margin-bottom: 25px;
      }
     li.firstTitle>img.img-d
      {
        @include size_decoration_gout ($first-padding_gout , $size-mark_gout);
          transform: scaleX(-1);
      }
     li.firstTitle>img.img-g
      {
        @include size_decoration_gout ($first-padding_gout , $size-mark_gout);
      }
     li.secondTitle>img.img-d
      {
        @include size_decoration_gout ($second-padding_gout , $size-mark_gout);
        transform: scaleX(-1);
      }

     li.secondTitle>img.img-g
      {
        @include size_decoration_gout ($second-padding_gout , $size-mark_gout)
      }
      
     li.thirdTitle>img.img-d
      {
        @include size_decoration_gout ($third-padding_gout , $size-mark_gout);
        transform: scaleX(-1);
      }
      
     li.thirdTitle>img.img-g
      {
        @include size_decoration_gout ($third-padding_gout , $size-mark_gout);
      }
  }