#menu_chic {
  @extend .typography;
    flex-direction: column;
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 14px;
    background-color: #FFF5FE;
    box-shadow: 0 0 17px -10px #735F5D;
    @include tab {
      font-size: 1.7vw;
    }
    li  {
      @include setting_li;
      padding: 0 13%;
      margin-bottom: 10px;
    }

    h2{
      font-size: 19px;
    }
    .firstTitle ,  .secondTitle , .thirdTitle
  {
    font-size: 15px;
    font-weight: bold;
    padding:0 5px;
    margin-bottom: 12px;
    @include tab {
      font-size:1.8vw;
    }
  }
  
  .first {
    margin-bottom: 2.5vw;
    color:#c67412;
  }
  
  .second{
    margin-bottom: 2.5vw;
    color:#a56799;
  }
  
  .third{
    margin-bottom: 2.5vw;
    color: #6e4ccc;
  }
  
  li.firstTitle>img.img-d
  {
    @include size_decoration_chic ($first-margin_chic , $size-mark_chic);
    transform: rotate(0.5turn);
  }
  li.firstTitle>img.img-g
  {
    @include size_decoration_chic ($first-margin_chic , $size-mark_chic);
  }
  
  li.secondTitle>img.img-d
  {
    @include size_decoration_chic ($second-padding_chic , $size-mark_chic);
    transform: rotate(0.5turn);
  }
  li.secondTitle>img.img-g
  {
    @include size_decoration_chic ($second-padding_chic , $size-mark_chic);
  }
  
  li.thirdTitle>img.img-d
  {
    @include size_decoration_chic ($third-padding_chic , $size-mark_chic);
    transform: rotate(0.5turn);
  }
  
  li.thirdTitle>img.img-g
  {
    @include size_decoration_chic ($third-padding_chic , $size-mark_chic);
  }
  
  .titlesection{

    justify-content: center;
  }
  ul.title.section>li {
    text-align: center;
    padding: 6% 0;
    font-size: 31px;
    text-align: center;
    font-weight: bold;
    @include gradient (#e38a12 , #a67afd);
    @include tab {
      font-size:4vw;
    }
  }
  
  }