#menu_delice{
    @extend .typography;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    background-color: #FFF5FE;
    font-family: 'Kalam', cursive;
    box-shadow: 0 0 17px -10px #735F5D;
    @include lg {
      height: auto;
      width:auto;
      font-size: 9px;
      margin:54px 44px;
    }

    li{
        @include setting_li;
        padding: 0 92px;
        margin-bottom: 6px ;
        @include lg {
          padding: 0 27px;
        }
      }
    .firstTitle ,.secondTitle ,.thirdTitle
      {
          font-family: 'Kalam', cursive;
          font-size: 17px;
          font-weight: normal;
          padding:0 29px;
          @include lg {
            font-size: 14px;
          }
      }
      
    ul.title.section>li{
      font-size: 52px;
      font-family: 'Dancing Script', serif;
      font-weight: bold;
      @include gradient (#102FBD , #178FFB);
          padding: 65px 109px;
          text-align: center;
          @include lg {
            font-size: 24px;
            padding: 28px 77px;
          }
      }
      
    .first {
          margin-bottom: 35px;
      }
      
    .second{
          margin-bottom: 30px;
      }

      @include lg {
        .third {
          margin-bottom: 30px;
        }
        }
      
    li.firstTitle>img.img-d
      {
        @include size_decoration_delice ($first-padding_delice , $size-mark_delice);
          transform: scaleX(-1);
      }
    li.firstTitle>img.img-g
      {
        @include size_decoration_delice ($first-padding_delice , $size-mark_delice);
      }
      
    li.secondTitle>img.img-d
      {
        @include size_decoration_delice ($second-padding_delice , $size-mark_delice);
          transform: scaleX(-1);
          @include lg {
            padding-right: 22px;
            margin-right: 0;
          }
      }
    li.secondTitle>img.img-g
      {
        @include size_decoration_delice ($second-padding_delice , $size-mark_delice);
      }
      
    li.thirdTitle>img.img-d
      {
        @include size_decoration_delice ($third-padding_delice , $size-mark_delice);
          transform: scaleX(-1);
          @include lg {
            padding-right: 25px;
            margin-right: 0;
          }
      }
      
    li.thirdTitle>img.img-g
      {
        @include size_decoration_delice ($third-padding_delice , $size-mark_delice);
      }
  }

