#menu_delice{
    @extend .typography;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    background-color: #FFF5FE;
    font-family: 'Kalam', cursive;
    box-shadow: 0 0 17px -10px #735F5D;
    @include tab {
      font-size: 1.7vw;
      height: 81vw;
    }
    @include lg {
      font-size: 3vw;
      height: 130vw;
    }
    @include md {
      font-size: 3.4vw;
      height: 150vw;
    }
    @include sm {
      font-size: 3.7vw;
      height: 172vw;
    }
    li{
        @include setting_li;
        padding: 0 12%;
        margin-bottom: 6px ;
      }
    .firstTitle ,.secondTitle ,.thirdTitle
      {
          font-family: 'Kalam', cursive;
          font-size: 17px;
          font-weight: normal;
          padding:0 29px;
          @include tab {
            font-size:1.8vw;
          }
      }
      
      h2{
        font-size: 19px;
        @include tab {
          font-size: 3.5vw;
        }
        @include lg {
          font-size: 4.1vw;
        }
      }

    ul.title.section>li{
      font-size: 52px;
      font-family: 'Dancing Script', serif;
      font-weight: bold;
      @include gradient (#102FBD , #178FFB);
          padding: 6% 0;
          text-align: center;
          @include tab {
            font-size:5vw;
          }
      }
      
    .first {
          margin-bottom: 2.5vw;
      }
      
    .second{
          margin-bottom: 2.5vw;
      }

    li.firstTitle>img.img-d
      {
        @include size_decoration_delice ($first-padding_delice , $size-mark_delice);
          transform: scaleX(-1);
          
      }
    li.firstTitle>img.img-g
      {
        @include size_decoration_delice ($first-padding_delice , $size-mark_delice);
      }
      
    li.secondTitle>img.img-d
      {
        @include size_decoration_delice ($second-padding_delice , $size-mark_delice);
          transform: scaleX(-1);
      }
    li.secondTitle>img.img-g
      {
        @include size_decoration_delice ($second-padding_delice , $size-mark_delice);
      }
      
    li.thirdTitle>img.img-d
      {
        @include size_decoration_delice ($third-padding_delice , $size-mark_delice);
          transform: scaleX(-1);
      }
      
    li.thirdTitle>img.img-g
      {
        @include size_decoration_delice ($third-padding_delice , $size-mark_delice);
      }
  }

