#menu_chic {
  @extend .typography;
    flex-direction: column;
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 14px;
    background-color: #FFF5FE;
    box-shadow: 0 0 17px -10px #735F5D;
    @include lg {
      height: auto;
      width:auto;
      font-size: 9px;
      margin:54px 44px;
    }
    @include md {
      font-size: 7px;
      margin:54px 32px;
    }
    li  {
      @include setting_li;
      padding: 0 91px;
      margin-bottom: 13px ;
      @include lg {
        padding: 0 27px;
      }
      @include md {
        padding: 0 20px;
      }
    }

    .firstTitle ,  .secondTitle , .thirdTitle
  {
    font-size: 15px;
    font-weight: bold;
    padding:0 5px;
    margin-bottom: 12px;
    @include lg {
      font-size: 14px;
    }
    @include md {
      font-size: 10px;
    }
  }
  
   .first {
    margin-bottom: 42px;
    color:#c67412;
  }
  
   .second{
    margin-bottom: 43px;
    color:#a56799;
  }
  
   .third{
    margin-bottom: 25px;
    color: #6e4ccc;
  }
  
   li.firstTitle>img.img-d
  {
    @include size_decoration_chic ($first-margin_chic , $size-mark_chic);
    transform: rotate(0.5turn);
    @include md {
      padding-right: 17px;
      margin-right: 0;
    }
    @include sm {
      width: 55px;
      padding-right: 10px;
    }
  }
   li.firstTitle>img.img-g
  {
    @include size_decoration_chic ($first-margin_chic , $size-mark_chic);
    @include md {
      margin-right: 17px;
    }
    @include sm {
      width: 55px;
      margin-right: 10px;
    }
  }
  
   li.secondTitle>img.img-d
  {
    @include size_decoration_chic ($second-padding_chic , $size-mark_chic);
    transform: rotate(0.5turn);
    @include lg {
      padding-right: 24px;
      margin-right: 0;
    }
    @include md {
      padding-right: 32px;
      margin-right: 0;
    }
    @include sm {
      width: 55px;
      padding-right: 24px;
    }
  }
   li.secondTitle>img.img-g
  {
    @include size_decoration_chic ($second-padding_chic , $size-mark_chic);
    @include md {
      padding-right: 32px;
      margin-right: 0;
    }
    @include sm {
      width: 55px;
      padding-right: 25px;
    }
  }
  
   li.thirdTitle>img.img-d
  {
    @include size_decoration_chic ($third-padding_chic , $size-mark_chic);
    transform: rotate(0.5turn);
    @include lg {
      padding-right: 10px;
      margin-right: 0;
    }
    @include md {
      padding-right: 23px;
      margin-right: 0;
    }
    @include sm {
      width: 55px;
      padding-right: 15px;
    }
  }
  
   li.thirdTitle>img.img-g
  {
    @include size_decoration_chic ($third-padding_chic , $size-mark_chic);
    @include md {
      padding-right: 23px;
      margin-right: 0;
    }
    @include sm {
      width: 55px;
      padding-right: 16px;
    }
  }
  
   .titlesection{

    justify-content: center;
  }
  ul.title.section>li {
    text-align: center;
    padding: 53px 158px;
    font-size: 31px;
    text-align: center;
    font-weight: bold;
    @include gradient (#e38a12 , #a67afd);
    @include lg {
      font-size: 24px;
      padding: 28px 54px;
    }
    @include md {
      font-size: 24px;
      padding: 28px 41px;
    }
    @include sm {
      font-size: 24px;
      padding: 28px 11px;
    }
  }
  
  }