html{
  height: 100%;
}

h1{
  margin : 5px  auto;
  @include lg {
    font-size: 8vw;
  }
}

h2{
  font-style: normal;
  margin: 0;
  padding: 0;
  font-size: 21px;
  @include tab {
    font-size: 3.5vw;
  }
}

body {
    background-color: #F9F9F9;
    margin:0;
    padding: 0;
    width:100%;
    height: 1031px;
    font-family: "Montserrat", Arial, sans-serif;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100%;
    padding-bottom: 3em;
    -moz-box-sizing: border-box; box-sizing: border-box;
    overflow-x: hidden;
    @include tab {
      margin-bottom: -56px;
      height: auto;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  li {
    text-align: center;
  }

  .price{
    margin-left:auto;
    font-weight: bold;
  }
  
  a{
    overflow: hidden;
    text-decoration: none;
    color: $yellow;
  }

  div#main>a {
    text-decoration: none;
    color: black;
  }